.App {
  text-align: center;
}

.App-header {
  background-color: #474d59;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "DIN 2014 Bold";
  src: url("../../assets/font/DIN2014-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN 2014 Bold Italic";
  src: url("../../assets/font/DIN2014-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN 2014 Demi";
  src: url("../../assets/font/DIN2014-Demi.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN 2014 Demi Italic";
  src: url("../../assets/font/DIN2014-DemiItalic.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN 2014 Extra Bold";
  src: url("../../assets/font/DIN2014-ExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN 2014 Extra Bold Italic";
  src: url("../../assets/font/DIN2014-ExtraBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DIN 2014 Regular";
  src: url("../../assets/font/DIN2014-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "DIN 2014 Regular", Fallback, sans-serif;
  padding: 0;
  margin: 0;
}
